@page
@model AdminLTE2.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE HTML>
<!--
    Introspect by TEMPLATED

    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>QR-APP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="assets/css/main.css" />

</head>
<body>

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <a href="index.html" class="logo">QRAPP</a>
            <nav id="nav">
               
                <a href="generic.html">Register</a>
                <a asp-page="/Dashboard">LogIn </a>
            </nav>
        </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

    <!-- Banner -->
   

    <!-- Three -->
<section id="three">
    <div class="d-flex justify-content-center">...</div>

    <div class="inner">
        <article style="visibility:hidden">
            <div class="content">
                <span class="icon fa-laptop"></span>
            </div>
        </article>
        <article>
            <div class="content">
               
                <header>
                    <ul class="actions" style="width:200px">
                        <li><a  asp-page="Menu" style="width:200px" class="button alt">Menu</a></li>
                    </ul>
                    <ul class="actions" style="width:20px">
                        <li><a asp-page="/Home"  style="width:200px" class="button alt">Call Waiter</a></li>
                    </ul>
                    <ul class="actions" style="width:20px">
                        <li><a href="#"  style="width:200px" class="button alt">Call Bill</a></li>
                    </ul>
                    <ul class="actions" style="width:200px">
                        <li><a href="#"  style="width:200px" class="button alt">Review</a></li>
                    </ul>
                </header>
              
            </div>
        </article>
        <article style="visibility:hidden">
            <div class="content">
                <span class="icon fa-laptop"></span>

            </div>
        </article>
    </div>
</section>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

</body>
</html>
